.menu {
    width: 100%;
    max-width: 500px;
    margin: 0 auto;
    padding-top: 100px;
}

.item {
    border-radius: 3px;
    border: 1px solid rgba(0, 0, 0, 0.7);
    box-shadow:0 0 15px #3F4A5B;
    background-color: #768EB1;
    text-align: center;
    padding: 10px;
    margin: 0;
    font-weight: bold;
    font-size: 18px;
    cursor: pointer;
}

.item:hover {
    background-color: #6d0019;
}

.accordion ul {
    display: none;
    list-style: none;
    text-align: center;
    padding: 0;
    font-weight: bold;
}

.accordion h3:hover {
    color: white;
}
.open ul {
    display: block;
}







